[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-cov = "*"
pytest = "*"
twine = "*"

[packages]
cbor2 = "*"
certvalidator = "*"
pyjwt = "*"
python-jose = "==3.3.*"
cryptography = "*"

[scripts]
tests = "pytest"
coverage = "pytest --cov=pyattest tests/"
upload = "python setup.py upload"

[requires]
python_version = "3.8"
